/*==========================================
            TABLETS
==========================================*/

@media(max-width:1200px){

header{

padding:15px 30px;

}

.banner{

height:500px;

}

.contenidoBanner{

width:90%;

}

.gridProductos{

grid-template-columns:repeat(3,1fr);

}

.gridCategorias{

grid-template-columns:repeat(3,1fr);

}

}


/*==========================================
            TABLETS
==========================================*/

@media(max-width:992px){

header{

flex-direction:column;

gap:20px;

}

nav ul{

flex-wrap:wrap;

justify-content:center;

}

.gridProductos{

grid-template-columns:repeat(2,1fr);

}

.gridCategorias{

grid-template-columns:repeat(2,1fr);

}

.banner{

height:450px;

}

.contenidoBanner h2{

font-size:35px;

}

.contenidoBanner p{

font-size:16px;

}

}


/*==========================================
            CELULARES
==========================================*/

@media(max-width:768px){

header{

padding:15px;

}

.logo{

flex-direction:column;

text-align:center;

}

.logo h1{

font-size:22px;

}

nav ul{

flex-direction:column;

align-items:center;

gap:15px;

}

.acciones{

flex-direction:column;

width:100%;

}

.login{

width:100%;

}

.carrito{

width:100%;

}

.banner{

height:400px;

padding:20px;

}

.contenidoBanner{

padding:20px;

}

.contenidoBanner h2{

font-size:28px;

}

.contenedorBusqueda{

flex-direction:column;

}

.contenedorBusqueda input{

width:100%;

border-radius:10px;

margin-bottom:10px;

}

.contenedorBusqueda button{

width:100%;

border-radius:10px;

height:55px;

}

.gridCategorias{

grid-template-columns:1fr;

}

.gridProductos{

grid-template-columns:1fr;

}

footer{

grid-template-columns:1fr;

text-align:center;

}

}


/*==========================================
            CELULARES PEQUEÑOS
==========================================*/

@media(max-width:480px){

.contenidoBanner h2{

font-size:22px;

}

.contenidoBanner p{

font-size:15px;

}

.botonBanner{

width:100%;

text-align:center;

}

section{

padding:40px 20px;

}

}